<head>
    <meta charset="utf-8">
    <title>ET Lab | Creating Immersive Storytelling Experiences</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/custom.css" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

</head>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand"><img src="images/et-lab-logo.png" height="70px"></a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">


        <ul class="nav navbar-nav navbar-right">

          <li><a href="#tech" id="tech">Technologies</a></li>
          <li><a href="#team" id="team">Team</a></li>
          <li><a href="mailto:stking@email.unc.edu">Contact</a></li>
          <li><a href="http://mj.unc.edu" target="_blank">UNC School of Media and Journalism</a></li>
        </ul>



      </div>

    </div>
  </div>