 <body>
    

    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="space-20"></div>
          <div class="col-md-12">
            <h1>Creating Immersive Storytelling Experiences</h1>
            <p class="lead">Leveraging VR, AR and AI to engage audiences</p>
            <h3><strong>Application Closed</strong></h3>

            <div class="main-spacer"></div>

            <!-- OPEN POSITIONS BUTTON IS HIDDEN -->
              <!--<p class="lead"><a href="https://medium.com/@steven_king/spring-2018-student-jobs-in-emerging-technologies-lab-bbd4edc7bcbd" target="_blank" class="center-it btn btn-primary btn-lg">Open Student Positions | Apply Now</a>
            </p> -->


          </div>




        </div>

        </div>

        <div class="row">
          <div class="col-md-12 jumbotron">
             <h2 id="tech-programs"><img src="images/science-icon.png" width="60">Technologies</h2>
             <hr>
               <div class="col-md-6">
                <img class="promo-image" src="images/vr-600x300.png" width="100%">
                <h3>Virtual Reality</h3>

                  <p>We use immersive visual 3D storytelling to transport students into multi-sensory, cultural experiences and artistic visualizations of data to increase learning and engagement.</p>

                    <p>The team creates unique simulations and experiences for each client.
                  </p>
                  <p><img src="images/vr-icon.png" width="60"></p>

               </div>
               <div class=" col-md-6">
                   <img class="promo-image" src="images/ar-600x300.jpg" width="100%">
                  <h3>Augmented Reality</h3>
                  <p>As new headsets for AR emerge, the team creates informative and instructional experiences around real-life interaction that helps audiences grasp new concepts and interact with media.

                  </p>

                  <p>We recently completed an AR app for Hololens that uses Facial Recognition technology.</p>
                  <p><img src="images/ar-icon.png" width="60"></p>

               </div>

               <div class=" col-md-6">
                   <img class="promo-image" src="images/ai-600x300.jpg" width="100%">
                  <h3>Artifical Intelligence</h3>
                  <p>AI provides the “smart” underlying technologies that enable better and more intuitive interactive experiences. The team uses AI to drive better retention, analysis and seemingly endless variations of content for various human interactions.
</p>
                  <p>The team is currently developing an AI-driven teaching assistant.</p>
                  <!-- <p><a class="btn btn-primary btn-lg">Learn more</a></p> -->

               </div>

               <div class=" col-md-6">
                   <img class="promo-image" src="images/drone-600x300.jpg" width="100%">
                  <h3>Robotics and Drones</h3>
                  <p>We use robotics and other technologies to create new ways to solve problems for media companies, including designing and building a custom VR Drone and inventing a Robot Journalist.</p>
</p>

                  <!-- <p><a class="btn btn-primary btn-lg">Learn more</a></p> -->

               </div>


          </div>
        </div>
          <div class="row">
            <div class="col-md-12 jumbotron">
              <h2>Coming Soon</h2>
              <hr>
              <div class=" col-md-6">
                <img class="promo-image" src="images/game-play.png" width="100%">
                <h4>Med Launch</h4>
                <h5>Fall 2017 | Oculus and Gear VR<h5>
                <p>An interactive virtual reality experience that engages 19-40 year-old business students to that enables better business decision making.</p>

                <p>Using Virtual Reality headsets, students will be transported into a virtual company that will deploy and market a new medical product in Cameroon. A narrative story will drive the student through a decision tree where they experience the different scenes and processes in 360 video. Students will better understand negotiations, different cultures, pricing and marketing.<p>

              </div>

              <div class=" col-md-6">
                <img class="promo-image" src="images/faciem-ar.png" width="100%">
                <div class="space-50"></div>
                <h4>Faciem AR: Facial Reconition for Business</h4>
                <h5>Fall 2017 | Hololens<h5>
                <p>A Microsoft Hololens App using facial recognition technology to display business profiles and information in real time.</p>

                <p>Using Augmented Reality headsets like Hololens, users are able to identify contacts and see relevant data through 3D display graphics.<p>

              </div>


  </div></div>


  <div class="row">
    <div class="col-md-12 jumbotron">
      <h2>Team</h2>
      <hr>

      <div id="team-info" class="col-md-8">
        <img class="promo-image" src="images/vrglassesreese.JPG" width="100%">
        <h4>Student Driven Innovation</h4>
        <h5>Student Storytellers, Designers and Developers<h5>
        <p>UNC students create the ideas and solutions using emerging technologies to build interactive stories. Powered by caffeine, pizza and cookies, the team works late hours to accomplish amazing technological feats.
          </p>
          <h4><a href="https://medium.com/@steven_king/spring-2018-student-jobs-in-emerging-technologies-lab-bbd4edc7bcbd" target="_blank">Find and Apply to Open Student Positions</a></h4>
      </div>

      <div id="team" class="col-md-4">
        <img class="promo-image" src="http://www.steventking.com/steven_king_washingtonpost_unc.jpg" width="100%">
        <h4>Steven King</h4>
        <h5>Director, Professor of Emerging Technology<h5>
        <p>Innovation, storytelling and scientific development is led by computer scientist and media innovator Steven King who was formally Director of Innovation for The Washington Post and most recently Chief Innovation Officer for the Reese News Lab where he created new products and business opportunities for media companies through emerging technologies.
          </p>
      </div>




</div>

</div>







</div>

{{ partial "footer.html" . }}



    </div>


  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/\>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script></body>