<footer>
    <div class="footer">
      <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 col-xl-2 buttons">
                <br>
                  <a href="https://medium.com/@steven_king/spring-2018-student-jobs-in-emerging-technologies-lab-bbd4edc7bcbd" target="_blank" class="apply-btn center-it btn btn-primary btn-lg">Student Jobs</a>
            </div>
  
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 col-xl-2 buttons">
                <br>
                  <a href="mailto:stking@email.unc.edu" class="center-it btn btn-primary btn-lg">Contact Us</a>
            </div>
  
            <!--LOGOS-->
            <div class="footer-logos">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <br>
                  <a href="http://mj.unc.edu/" target="_blank"><img src="http://mj.unc.edu/sites/default/files/images/School%20of%20Media%20and%20Journalism_logo_rgb_v.png" height="45"></a>
              </div>
              
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <br>
                  <a href="http://kenan-flagler.unc.edu/" target="_blank"><img class="kf-logo" src="images/KF-vertical.png"></a>
              </div>
            </div>
  
        </div>
      </div>
    </div>
  
  </footer>